div.footer {
	background: none repeat scroll 0 0 #4b850c;
    width: 100%;
    color: #fff;
    height: 70px;
}

div.footer, .page-wrapper:after {
  height: 70px; 
}

div.footer > div.footer-content {
	background: none repeat scroll 0 0 #4b850c;
    height: 50px;
    margin: 0 auto;
    position: relative;
    width: 940px;
}

div.footer > div.footer-content > aside {
	float: left;
    padding-left: 20px;
    padding-right: 20px;
}

div.footer > div.footer-content > aside .widget-title {
	text-transform: uppercase;
}

div.footer  div.footer-rights {
	height: 40px;
    margin: 0 auto;
    padding-top: 15px;
    position: relative;
    text-align: center;
    width: 940px;
}


