@font-face {
    font-family: "BebasNeueRegular";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/BebasNeue-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeue-webfont.woff") format("woff"), url("../fonts/BebasNeue-webfont.ttf") format("truetype"), url("../fonts/BebasNeue-webfont.svg#BebasNeueRegular") format("svg");
}

* {
  margin: 0;
  padding: 0;
}

html {
	font-family: Arial,​Tahoma,​Century gothic,​sans-serif;
}

body {
    background: #e8dfd0;
    background: url("../images/body.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);
}

html, body {
  height: 100%;
}

h1, h2, h3 {
	font-family: "BebasNeueRegular",Arial,sans-serif;
}

h1 {
	margin: 0 0 5px;
	padding: 0;
	text-transform: uppercase;
	text-shadow: 2px 2px 1px #ddd;
	font: 2.0em "BebasNeueRegular",Arial,sans-serif;
}

div.header {
    height: 145px;
    background: #4b850c;
    width: 100%;
    padding-top: 10px;
}

div.header > div {
    width: 940px;
    margin: 0 auto;
    position: relative;
    height: 110px;
}

div.header > div > div.logo {
    height: 105px;
    float: left;
}

div.header > div > div.logo-name  {
    margin: 0 0 0 120px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
  	
}

div.header > div > div.logo-name > a {
    color: #fff;
    font: bold 2.3em BebasNeueRegular,Arial,sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    
    text-shadow: 1px 1px 1px #c1c1c1;
}

div.header > div > div.search-box-wrapper {
    float: right;
    height: 100%;
    width: 160px;
}


div.header > div > div.search-box-wrapper > .search-box {
	margin: 0;
	position: absolute;
    top: 50%;
  	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
}

div.header > div > div.search-box-wrapper input[type="submit"] {
    background: url("../images/searchArrow.png") no-repeat scroll left 5px #437709;
    border: 0 none;
    cursor: pointer;
    height: 28px;
    margin: 0;
    padding: 0;
    width: 20px;
}

@-moz-document url-prefix() { 
	div.header > div > div.search-box-wrapper input[type="submit"] {
	   
	}
}

@media screen and (-webkit-min-device-pixel-ratio:0) {  
div.header > div > div.search-box-wrapper input[type="submit"] {
	   
	}
}

div.header > div > div.search-box-wrapper input[type="search"] {
    background: none repeat scroll 0 0 #437709;
    border: 0 none;
    color: #ffffff;
    float: left;
    height: 28px;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    width: 120px;
}

div.header > div.menu {
	background: url("../images/menu.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    font-family: BebasNeueRegular,Arial,verdana,Century gothic,sans-serif;
    font-size: 18px;
    height: 60px;
    margin: 3px auto 0;
    width: 1007px;
    z-index: 100;
}

div.header > div.menu > div {
  color: #fff;
  font: 1.3em BebasNeueRegular,Arial,sans-serif;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  top: 62%;
  transform: translateY(-60%);
  -ms-transform: translateY(-60%);
  -webkit-transform: translateY(-60%);
  text-shadow: 1px 1px 0 #2f4c3e;
}

a#logo {
    display: block;
    float: left;
    background: url('../images/logo_small.png') no-repeat;
    width: 130px;
    height: 110px;   
}

div.header-nav {
    background-color: #FFFFFF;
    font: 1em Arial,sans-serif;
    height: 41px;
}
