/*.wprv-container {
    background: url(../img/bg1.png);
    color: #444 !important;

    border-color: #bbbbbb;
}
*/
.wprv-container .recipe-header-image {
    float: left;
}

.wprv-container .recipe-header-image img {
    padding: 5px !important;

    width: 150px;
    height: auto;

    background-color: white !important;
    border: 1px solid #666666 !important;

    -webkit-box-shadow: 2px 2px 2px rgba(50, 50, 50, 0.5) !important;
    -moz-box-shadow:    2px 2px 2px rgba(50, 50, 50, 0.5) !important;
    box-shadow:         2px 2px 2px rgba(50, 50, 50, 0.5) !important;
}

.wprv-container .recipe-header-information {
    overflow: hidden;
}

.wprv-container .recipe-header-information ul {
    margin: 0 0 23px 0 !important;
}

.wprv-container .recipe-header.has-image .recipe-header-information ul {
    margin: 0 0 23px 20px !important;
}

.wprv-container .recipe-header-information ul li {
    list-style: none !important;
}

.wprv-container .recipe-information-name {
    font-size: 1.4em !important;
    font-weight: bold;
}

.wprv-container .recipe-rating {
    float: right;
}

.wprv-container .recipe-rating img {
    vertical-align: text-top !important;
}

.wprv-container .recipe-tag-name {
    display: inline-block;
    width: 100px;
    font-weight: bold;
}

.wprv-container .recipe-header-extra {
    border-collapse: collapse;

    margin: 0 !important;
    background: none;
}

.wprv-container .recipe-header.has-image .recipe-header-extra {
    margin-left: 23px !important;
}

.wprv-container .recipe-header-extra td {
    border: none;
    padding: 0;
    border: 0;
    background: none;
}

.wprv-container .recipe-header-extra thead td {
    font-weight: bold;
}

.wprv-container .recipe-information-time-unit, .wprv-container .recipe-information-servings-type {
    margin-left: 2px !important;
    color: #666666 !important;

    font-variant: small-caps;
    font-size: 0.9em !important;
}

.wprv-container .recipe-ingredient-unit {
    color: #666666 !important;
}

.wprv-container .recipe-ingredient-notes {
    color: #666666 !important;
}

div.recipe-tag-container {
	border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    color: #827a60;
    font: 10px Tahoma,Georgia,Arial,century gothic,verdana,sans-serif;
    padding: 5px 0;
    text-transform: uppercase;
    margin-bottom: 15px;
}

div.recipe-tag-container a {
	color: #cf4c23;
    outline: medium none;
    text-decoration: none;
}



