.wprv-container {
    position: relative;
    clear: both;
    background: none repeat scroll 0 0 #eef8f3;
    color: #000;
    margin-top: 15px;
    margin-bottom: 15px;
}

.wprv-container img {
    border: 0 !important;

    -webkit-margin: 0 !important;
    -moz-margin: 0 !important;
    margin: 0 !important;

    -webkit-padding: 0 !important;
    -moz-padding: 0 !important;
    padding: 0 !important;

    background: none !important;

    -webkit-border-radius: 0px !important;
    -moz-border-radius:    0px !important;
    border-radius:         0px !important;

    -webkit-box-shadow: none !important;
    -moz-box-shadow:    none !important;
    box-shadow:         none !important;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.wprv-container ul, .wprv-container ol {

    clear: both;
}

.wprv-container li {
    margin: 0 !important;
    padding: 0 !important;
    background: none !important;
}

.wprv-container .wprv-clear {
    clear: both;
}

.wprv-container table {
    width: 100% !important;

    border-collapse: collapse !important;
    border-spacing: 0 !important;
}

.wprv-container table, .wprv-container thead, .wprv-container tbody, .wprv-container tr, .wprv-container td {
    border: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow:    none !important;
    box-shadow:         none !important;
    background: none !important;
    color: #444 !important;

    font-size: 100% !important;
    line-height: 1.5 !important;
}

.wprv-container h3 {
    margin: 0 0 10px;
    background: none repeat scroll 0 0 #4b850c;/*#233d30;*/
    color: #fff;
    font: 1em bolder "BebasNeueRegular",Arial,sans-serif;
    padding: 10px;
    text-transform: uppercase;
}

.wprv-container h3 span {
	padding-right: 20px;
	font: 0.8em bolder Arial,sans-serif;
}
	
	
.wprv-container ul.recipe-ingredients {
	padding-left: 40px;
}

.wprv-container .recipe-ingredients li {
    list-style: none;
    border-bottom: 1px dotted #fff;
    
    text-shadow: 2px 2px 1px #ddd;
}

.wprv-container .recipe-ingredients li a {
    color: #000;
    text-decoration: none;
}

.wprv-container .recipe-ingredient-nan {
    color: #900000 !important;
}

.wprv-container .recipe-ingredient-quantity-unit {
    display: inline-block;
    width: 100px;
}

.wprv-container .recipe-ingredient-unit {
    color: #666666 !important;
    font-size: 0.9em !important;
}

.wprv-container .recipe-ingredient-notes {
    color: #666666 !important;
    font-size: 0.9em !important;
    margin-left: 5px !important;
}

.wprv-container .adjust-recipe-servings {
    width: 40px;
    padding: 2px;
    font-size: 1em;
}

.wprv-container .advanced-adjust-recipe-servings {
    width: 40px;
    padding: 2px;
    font-size: 1em;
}

.wprv-container ol.recipe-instructions {
    margin: 0 23px !important;
}

.wprv-container li.group {
    list-style: none !important;
    margin-top: 10px !important;
    margin-left: -23px !important;
    font-weight: bolder;
    
    text-shadow: 2px 2px 1px #ddd;
}

.wprv-container .instruction-group {
    clear: both;
    
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px dashed #999999;
    font-weight: bold;
}

.wprv-container .recipe-instructions li {
    padding-bottom: 10px !important;
    margin-bottom: 10px !important;
    border-bottom: 1px dashed #999999;
    list-style: decimal;
}

.wprv-container .recipe-instructions li:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: none;
}

.wprv-container .recipe-instructions img {
    display: block !important;
    border: 1px solid #666666 !important;

    margin: 5px auto !important;
}

.wprv-container .recipe-notes ul, .wprv-container .recipe-notes ol {
    margin: 0 23px !important;
}

.wprv-container .recipe-sharing-buttons {
    list-style: none !important;
}

.wprv-container .recipe-sharing-buttons li {
    display: inline-block;
    width: 25%;
    text-align: center !important;
    vertical-align: top;
}

.wprv-container .recipe-sharing-buttons iframe {
    margin: 0 !important;
}

.wprv-container .recipe-sharing-buttons .pinterest-pinit {
    margin-top: 32px;
}

.wprv-container .wprv-footer {
    text-align: right;
    font-size: 0.8em;
    margin-top: 10px !important;
}

.wprv-error {
    background-color: #ffebe8;
    border: 1px solid #c00;
    margin: 5px 0 15px;
    padding: 0.6em;
}


.wprv-container .recipe-ingredients-servings {
	padding-bottom: 10px;
	padding-left: 20px;
}