div.page-wrapper {
    background: none repeat scroll 0 0 #fff;
    margin: 16px auto 0;
    padding: 15px 0 20px 20px;
    position: relative;
    width: 920px;
    overflow: hidden;
    min-height: 700px;
}

.page-wrapper:after {
  content: "";
  display: block;
}

div.slideshow {
    height: 300px;
    width: 900px;
    margin-bottom: 40px;
    overflow: hidden;
}

div.slideshow > div {
	left: 5px;
    position: relative;
    top: 5px;
}

div.maincontent {
    background-color: #FFFFFF;
    margin: auto;
} 

div.maincontent > div.center {
    background-color: #ffffff;
    float: left;
    height: 100%;
    width: 650px;
}

div.maincontent > div.center > div.recipe_item {
	height: 150px;
    margin-bottom: 50px;
    overflow: hidden;
    width: 100%;
}

div.maincontent > div.center > div.recipe_item > div.thumbnail {
	background: none repeat scroll 0 0 #f4ede3;
    float: left;
    height: 100%;
    margin-right: 15px;
    padding: 4px;
    width: 250px;
    overflow: hidden;
}

div.maincontent > div.center > div.recipe_item > div.content {
	float: left;
    width: 350px;
    height: 100%;
}

div.maincontent > div.center > div.recipe_item > div.content > span {
	display: block;
	width: 100%;
}

div.maincontent > div.center > div.recipe_item > div.content > span.title,
div.maincontent > div.center > div.recipe_item > div.content > span.info-line {
	height: 20px;
}

div.maincontent > div.center > div.recipe_item > div.content > span.title {
	height: 32px;
    margin-bottom: 2px;
    overflow: hidden;
}

div.maincontent > div.center > div.recipe_item > div.content > span.excerpt {
	margin-top: 5px;
    font: 0.80em/1.5em Arial,​Tahoma,​Century gothic,​sans-serif;
}

div.maincontent > div.center > div.recipe_item > div.content > span.excerpt > a.read_more {
	color: #aa1103;
    text-decoration: none;
}

div.maincontent > div.center > div.recipe_item > div.content > span.title > a {
	font: bold 1.55em/1.2em "BebasNeueRegular",Arial,sans-serif;
	color: #000;
	text-decoration: none;
    text-transform: uppercase;
    
    text-shadow: 2px 2px 1px #ddd;
}

div.maincontent > div.center > div.recipe_item > div.content > span.info-line {
	background: #aa1103;
	color: #FFF;
	padding-top: 7px;
	padding-left: 5px;
	text-transform: uppercase;
	font-size: 0.75em;
	font-weight: bold;
}

div.maincontent > div.center > div.recipe_item > div.content > span.info-line > span.cooktime {
	background: url("../images/time.png") no-repeat scroll 1px center rgba(0, 0, 0, 0);
	padding-left: 17px;
}

div.maincontent > div.center > div.recipe_item > div.content > span.info-line > span.serve {
	background: url("../images/serve.png") no-repeat scroll 1px center rgba(0, 0, 0, 0);
	margin-left: 10px;
	padding-left: 17px;
}

div.maincontent > div.content-menu {
	float: left;
    width: 250px;
}

div.content-menu > div.aside {
	margin-bottom: 30px;
}

div.footer div.aside {
    overflow: hidden;
    width: 200px;
}

div.content-menu > div.aside > h3.widget-title,
div.footer div.aside > h2.widget-title {
	background: none repeat scroll 0 0 #4b850c;
    color: #fff;
    font: 1.4em "BebasNeueRegular";
    padding: 5px 0 5px 10px;
    text-transform: uppercase;
    font-weight: normal;
}

div.content-menu > div.aside > h3.widget-title {
	margin: 0 0 10px;
}

div.footer div.aside > h2.widget-title {
	margin: 0;
    padding: 20px 0;
}

div.content-menu > div.aside > h1.widget-title + ul,
div.content-menu > div.aside div.menu-main-container > ul,
div.footer div.aside > h2.widget-title + ul {
	margin: 0;
    padding: 0;
}

div.content-menu  ul > li,
div.content-menu > div.aside > ul > li,
div.content-menu > div.aside div.menu-main-container > ul > li,
div.footer div.aside > ul > li {
	border-bottom: 1px dotted #eee;
    clear: left;
    line-height: 18px;
    list-style: none outside none;
    width: 100%;
    height: 25px;
    padding-top: 5px;
}

div.content-menu > div.widget_recipe_viewer_recent > ul > li {
	height: 55px;
}

div.footer div.aside > h2.widget-title + ul > li {
	border-bottom: 1px dotted #487461;
}

div.content-menu > div.aside > ul > li > a,
div.content-menu > div.aside div.menu-main-container > ul > li > a,
div.footer div.aside > ul > li > a {
	color: #6f6f6f;
    display: block;
    text-decoration: none;
    font: 1.0em "BebasNeueRegular",Arial,sans-serif;
}

div.footer div.aside > h2.widget-title + ul > li > a {
	color: #487461;
	font: 0.80em Arial,sans-serif;
}

div.maincontent {
	padding-right: 20px;	
}

div.aside.widget_recipe_viewer_recent > ul > li {
	margin: 0 0 10px;
    padding-bottom: 10px;
	height: 50px;
}

div.aside.widget_recipe_viewer_recent > ul > li div.image {
	background: none repeat scroll 0 0 #f4ede3;
    float: left;
    margin-right: 5px;
}

div.aside.widget_recipe_viewer_recent > ul > li div.content {
    font: 0.85em Arial,sans-serif;
}

div.aside.widget_recipe_viewer_recent > ul > li div.content > span {
	display: block;
}

div.aside.widget_recipe_viewer_recent > ul > li div.content > span.recipe-title h3 {
	color: #4b850c;
    font: 1.3em "BebasNeueRegular",Arial,sans-serif;
    text-decoration: none;
}

div.aside.widget_recipe_viewer_recent > ul > li div.content > span.recipe-date {
	color: #777;
    
}
 
div.aside.widget_recipe_viewer_recent > ul > li div.content > span.recipe-comments {
	color: #777;
    
}

div.maincontent > div.center.page {
	
}

div.maincontent > div.center.page p {
	margin-bottom: 10px;
}

 

div.maincontent > div.center.page > span {
	text-transform: uppercase;
	font: 0.68em Arial,sans-serif;
}

div.maincontent > div.center.page > div.recipe_content {
	color: #6f6f6f;
	font: 0.90em/1.5em Arial,sans-serif;
	margin-right: 20px;
	margin-top:15px;
	text-align: justify;
}

div.maincontent > div.center.page > img {
	padding-top: 10px;
}

ol.recipe-instructions {
	padding-top: 15px;
	padding-left: 40px;
}

ol.recipe-instructions  > li {
	padding-bottom: 15px;
}

div.comment-section {
	padding-top: 25px;
	margin-top: 25px;
	
	border-top: 1px solid #ddd;
}

div.comment-respond {
	padding-top: 10px;
	margin-top: 25px;
	border-top: 1px solid #ddd;
}

.comment-reply-title {
	font: 1.28em Arial,sans-serif;
	padding-bottom: 15px;
	padding-top: 15px;
	text-shadow: 2px 2px 1px #ddd;
    text-transform: uppercase;
}

.form-allowed-tags {
	display: none;
}

.comment-section h2{
	font: 1.4em "BebasNeueRegular",Arial,sans-serif;
	text-shadow: 2px 2px 1px #ddd;
	margin-bottom: 15px;
	text-transform: uppercase;
}

.comments-area ol {
	list-style-type: none;
}

.comments-area ol li {
	border-top: 1px solid #ddd;
    margin-top: 15px;
    padding-top: 10px;
}

div.comment-meta {
	display: inline;	
}

div.comment-body a {
	color: #a7a7a7;
    font: 0.9em "BebasNeueRegular",Arial,sans-serif;
    text-decoration: none;
}

div.comment-body a:hover {
	color: #6f6f6f;
}

.comment-form-comment label {
	display: block;
}

.comments-area label {
	display: block;
}

.comments-area input:focus {
	outline: none;
}

.comments-area input, .comments-area textarea { 
    border:1px solid #aaa;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius:2px;
}
.comments-area input:focus, .comments-area textarea:focus {
    background: #fff; 
    border:1px solid #555; 
    box-shadow: 0 0 3px #aaa; 
}

/* Button Style */
input#submit {
    background-color: #68b12f;
    background: -webkit-gradient(linear, left top, left bottom, from(#68b12f), to(#50911e));
    background: -webkit-linear-gradient(top, #68b12f, #50911e);
    background: -moz-linear-gradient(top, #68b12f, #50911e);
    background: -ms-linear-gradient(top, #68b12f, #50911e);
    background: -o-linear-gradient(top, #68b12f, #50911e);
    background: linear-gradient(top, #68b12f, #50911e);
    border: 1px solid #509111;
    border-bottom: 1px solid #5b992b;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    box-shadow: inset 0 1px 0 0 #9fd574;
    -webkit-box-shadow: 0 1px 0 0 #9fd574 inset ;
    -moz-box-shadow: 0 1px 0 0 #9fd574 inset;
    -ms-box-shadow: 0 1px 0 0 #9fd574 inset;
    -o-box-shadow: 0 1px 0 0 #9fd574 inset;
    color: white;
    font-weight: bold;
    padding: 6px 20px;
    text-align: center;
    text-shadow: 0 -1px 0 #396715;
}
input#submit:hover {
    opacity:.85;
    cursor: pointer; 
}
input#submit:active {
    border: 1px solid #20911e;
    box-shadow: 0 0 10px 5px #356b0b inset; 
    -webkit-box-shadow:0 0 10px 5px #356b0b inset ;
    -moz-box-shadow: 0 0 10px 5px #356b0b inset;
    -ms-box-shadow: 0 0 10px 5px #356b0b inset;
    -o-box-shadow: 0 0 10px 5px #356b0b inset;
     
}

.comments-area input:focus:invalid, .comments-area textarea:focus:invalid { /* when a field is considered invalid by the browser */
    background: #fff no-repeat 98% center;
    box-shadow: 0 0 5px #d45252;
    border-color: #b03535
}
.contact_form input:required:valid, .contact_form textarea:required:valid { /* when a field is considered valid by the browser */
    background: #fff no-repeat 98% center;
    box-shadow: 0 0 5px #5cd053;
    border-color: #28921f;
}

ol {
	padding-left: 40px;
}